In [16]:
#Import dependencies
import pandas as pd

In [17]:
#Name, reference and read the imported csv files
students_complete_csv = "..\\Resources\\students_complete.csv"
#print(students_complete_csv)
schools_complete_csv = "..\\Resources\\schools_complete.csv"

#Use pandas library to read csv files
students_complete = pd.read_csv(students_complete_csv)
schools_complete = pd.read_csv(schools_complete_csv)

In [21]:
#Join the csv files to combine the data into one data table
combined_data = pd.merge(students_complete,schools_complete, how="left", on=["school_name","school_name"])
combined_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [140]:
#Create a high-level snapshot of district data. Total Schools, Total Budget, Total Students, Average Math Score, Average Reading Score, % Passing Math, % Passing Reading and % Passing Other
total_students_df = combined_data["student_name"].count()
total_students_df

total_schools_df = combined_data[["school_name"]].nunique() #Only need the unique values in this table
total_schools_df


#Reduce the table to make unique budget only for unique school names
total_schools_reduced_df = combined_data.drop_duplicates(["school_name"],keep="last")
#total_schools_reduced_df.head()
total_schools_reduced_groupedby_df = total_schools_reduced_df.groupby(["school_name","budget"]).sum()
total_schools_reduced_groupedby_df.head()
#total_budget_df = total_schools_reduced_groupedby_df(["school_name","budget"]).sum()
#total_budget_df
total_budget_df = total_schools_reduced_groupedby_df[["budget"]].sum()
#total_budget_df

KeyError: "None of [Index(['budget'], dtype='object')] are in the [columns]"

In [110]:
#Calculate average math score
avg_math_score = combined_data[["math_score"]].mean()
avg_math_score

math_score    78.985371
dtype: float64

In [141]:
#Calculate average reading score
avg_reading_score = combined_data[["reading_score"]].mean()
avg_reading_score

reading_score    81.87784
dtype: float64