In [2]:
#Import dependencies
import pandas as pd

In [3]:
#Name, reference and read the imported csv files
students_complete_csv = "..\\Resources\\students_complete.csv"
#print(students_complete_csv)
schools_complete_csv = "..\\Resources\\schools_complete.csv"

#Use pandas library to read csv files
students_complete = pd.read_csv(students_complete_csv)
schools_complete = pd.read_csv(schools_complete_csv)

In [44]:
#Join the csv files to combine the data into one data table
combined_data = pd.merge(students_complete,schools_complete, how="left", on=["school_name","school_name"])
combined_data.head()
#combined_data.to_csv("Test CSV")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [87]:
#number of schools
num_schools = len(combined_data['school_name'].unique())
print(num_schools)

#number of students
total_students = len(combined_data['student_name'].value_counts())
print(total_students)

#total budget
combined_data_budget = combined_data.groupby(['school_name'])
combined_data_budget.head()

combined_data_budget_total = combined_data_budget['budget'].unique()
#combined_data_budget_total.head(15)
budget_total = combined_data_budget_total.sum(axis=0)[0]
budget_total

15
32715

24649428

In [104]:
#Calculate average math score
avg_math_score = combined_data[["math_score"]].mean()

avg_math_score

math_score    78.985371
dtype: float64

In [105]:
#Calculate average reading score
avg_reading_score = combined_data[["reading_score"]].mean()

avg_reading_score

reading_score    81.87784
dtype: float64

In [106]:
#percent passing math
math_df = combined_data.loc[combined_data['math_score'] >= 60]
#math_df
num_passing_math = len(math_df['math_score'])
print(num_passing_math)

#percent passing reading
num_passing_reading = len(combined_data.loc[combined_data['reading_score'] >= 60])
print(num_passing_reading)

#perecent passing both
num_passing_both = len(math_df.loc[math_df['reading_score']>= 60])
print(num_passing_both)

per_passing_math = round((num_passing_math / total_students)*100,2)
print(per_passing_math)

per_passing_reading = round((num_passing_reading / total_students)*100,2)
print(per_passing_reading)

per_passing_both = round((num_passing_both / total_students)*100,2)
print(per_passing_both)

36211
39170
36211
110.69
119.73
110.69

In [109]:
district_df = pd.DataFrame({
    "Total Number of Schools": num_schools,
    "Total Number of Students": total_students,
    "Total District Budget": budget_total,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Reading": per_passing_reading,
    "% Passing Math": per_passing_math,
    "% Passing Overall": per_passing_both
}
)
district_df.head()

,Total Number of Schools,Total Number of Students,Total District Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Passing Overall
math_score,15,32715,24649428,78.985371,NaN,119.73,110.69,110.69
reading_score,15,32715,24649428,NaN,81.87784,119.73,110.69,110.69