In [13]:
#Import dependencies
import pandas as pd

In [14]:
#Name, reference and read the imported csv files
students_complete_csv = "..\\Resources\\students_complete.csv"
#print(students_complete_csv)
schools_complete_csv = "..\\Resources\\schools_complete.csv"

#Use pandas library to read csv files
students_complete = pd.read_csv(students_complete_csv)
schools_complete = pd.read_csv(schools_complete_csv)

In [15]:
#Join the csv files to combine the data into one data table
combined_data = pd.merge(students_complete,schools_complete, how="left", on=["school_name","school_name"])
combined_data.head()
#combined_data.to_csv("Test CSV")

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [21]:
#number of schools
num_schools = len(combined_data['school_name'].unique())
print(num_schools)

#number of students
total_students = len(combined_data['Student ID'])
print(total_students)

#total budget
combined_data_budget = combined_data.groupby(['school_name'])
combined_data_budget.head()

15
39170

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76,14,Charter,1635,1043130
37536,37536,Cody Miller,M,11th,Thomas High School,84,82,14,Charter,1635,1043130
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90,14,Charter,1635,1043130
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69,14,Charter,1635,1043130
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76,14,Charter,1635,1043130

In [22]:
combined_data_budget_total = combined_data_budget['budget'].unique()
#combined_data_budget_total.head(15)
budget_total = combined_data_budget_total.sum(axis=0)[0]
print(budget_total)

24649428

In [33]:
#Calculate average math score
avg_math_score = combined_data["math_score"].mean()
avg_math_score

78.98537145774827

In [34]:
#Calculate average reading score
avg_reading_score = combined_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [36]:
#percent passing math
math_df = combined_data.loc[combined_data['math_score'] >= 70]
#math_df
num_passing_math = len(math_df['math_score'])
print(f'passing math {num_passing_math}')

#percent passing reading
num_passing_reading = len(combined_data.loc[combined_data['reading_score'] >= 70])
print(f'passing reading {num_passing_reading}')

#perecent passing both
num_passing_both = len(math_df.loc[math_df['reading_score']>= 70])
print(f'passing both {num_passing_both}')

per_passing_math = round((num_passing_math / total_students)*100,6)
print(f'percent passing math {per_passing_math}')

per_passing_reading = round((num_passing_reading / total_students)*100,6)
print(f'percent passing reading {per_passing_reading}')

per_passing_both = round((num_passing_both / total_students)*100,6)
print(f'percent passing both {per_passing_both}')

passing math 29370
passing reading 33610
passing both 25528
percent passing math 74.980853
percent passing reading 85.805463
percent passing both 65.172326

In [39]:
district_df = pd.DataFrame({
    "Total Number of Schools": num_schools,
    "Total Number of Students": total_students,
    "Total District Budget": budget_total,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "% Passing Reading": per_passing_reading,
    "% Passing Math": per_passing_math,
    "% Passing Overall": per_passing_both
},index=[0]
)
district_df.head()

,Total Number of Schools,Total Number of Students,Total District Budget,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,85.805463,74.980853,65.172326

In [40]:
#Summarize each school
schools_list = combined_data['school_name'].unique()
#schools_list
copied_schools_list = ['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School']
copied_schools_list

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [72]:
#combined_data.loc[combined_data['school_name'] == school]['type']
school_name_list = []
school_type_list = []
total_students_list = []
total_school_budget_list = [] 
per_std_budget_list = [] 
avg_math_score_list = []


for school in copied_schools_list: 
    school_name = school
    school_name_list.append(school_name)
    
    school_type = combined_data.loc[combined_data['school_name'] == school]['type']
    school_type_list.append(school_type)
    
    total_students = combined_data.loc[combined_data['school_name'] == school]['size']
    total_students_list.append(total_students)
    
    total_school_budget = combined_data.loc[combined_data['school_name'] == school]['budget']
    total_school_budget_list.append(total_school_budget)
    
    per_std_budget = total_school_budget / total_students
    per_std_budget_list.append(per_std_budget)
    
    avg_math_score = combined_data.loc[combined_data['school_name'] == school]['math_score'].mean()
    avg_math_score_list.append(avg_math_score)

    

    school_summary_df = pd.DataFrame({"School Type":school_type_list
        
    })
        
    
school_summary_df.head()

KeyError: 0

In [83]:
#school = combined_data.groupby('school_name')
school_type = combined_data.groupby('school_name')['type']
total_students = combined_data.groupby('school_name')['size']
total_school_budget = combined_data.groupby('school_name')['budget']
avg_math_score = combined_data.groupby('school_name').mean()['math_score']
avg_reading_score = combined_data.groupby('school_name').mean()['reading_score']

school_summary_df = pd.DataFrame({'School Type': school_type,
                                  'Total Students': total_students,
                                  'Total School Budget': total_school_budget,
                                  'Average Math Score': avg_math_score,
                                  'Average Reading Score': avg_reading_score,            
    
}
)
school_summary_df
#per_std_budget = combined_data.groupby('school_name')['budget'] / combined_data.groupby('school_name')['size']

,School Type,Total Students,Total School Budget,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,"(Bailey High School, [District, District, Dist...","(Bailey High School, [4976, 4976, 4976, 4976, ...","(Bailey High School, [3124928, 3124928, 312492...",77.048432,81.033963
Cabrera High School,"(Cabrera High School, [Charter, Charter, Chart...","(Cabrera High School, [1858, 1858, 1858, 1858,...","(Cabrera High School, [1081356, 1081356, 10813...",83.061895,83.975780
Figueroa High School,"(Figueroa High School, [District, District, Di...","(Figueroa High School, [2949, 2949, 2949, 2949...","(Figueroa High School, [1884411, 1884411, 1884...",76.711767,81.158020
Ford High School,"(Ford High School, [District, District, Distri...","(Ford High School, [2739, 2739, 2739, 2739, 27...","(Ford High School, [1763916, 1763916, 1763916,...",77.102592,80.746258
Griffin High School,"(Griffin High School, [Charter, Charter, Chart...","(Griffin High School, [1468, 1468, 1468, 1468,...","(Griffin High School, [917500, 917500, 917500,...",83.351499,83.816757
Hernandez High School,"(Hernandez High School, [District, District, D...","(Hernandez High School, [4635, 4635, 4635, 463...","(Hernandez High School, [3022020, 3022020, 302...",77.289752,80.934412
Holden High School,"(Holden High School, [Charter, Charter, Charte...","(Holden High School, [427, 427, 427, 427, 427,...","(Holden High School, [248087, 248087, 248087, ...",83.803279,83.814988
Huang High School,"(Huang High School, [District, District, Distr...","(Huang High School, [2917, 2917, 2917, 2917, 2...","(Huang High School, [1910635, 1910635, 1910635...",76.629414,81.182722
Johnson High School,"(Johnson High School, [District, District, Dis...","(Johnson High School, [4761, 4761, 4761, 4761,...","(Johnson High School, [3094650, 3094650, 30946...",77.072464,80.966394
Pena High School,"(Pena High School, [Charter, Charter, Charter,...","(Pena High School, [962, 962, 962, 962, 962, 9...","(Pena High School, [585858, 585858, 585858, 58...",83.839917,84.044699
Rodriguez High School,"(Rodriguez High School, [District, District, D...","(Rodriguez High School, [3999, 3999, 3999, 399...","(Rodriguez High School, [2547363, 2547363, 254...",76.842711,80.744686
Shelton High School,"(Shelton High School, [Charter, Charter, Chart...","(Shelton High School, [1761, 1761, 1761, 1761,...","(Shelton High School, [1056600, 1056600, 10566...",83.359455,83.725724
Thomas High School,"(Thomas High School, [Charter, Charter, Charte...","(Thomas High School, [1635, 1635, 1635, 1635, ...","(Thomas High School, [1043130, 1043130, 104313...",83.418349,83.848930
Wilson High School,"(Wilson High School, [Charter, Charter, Charte...","(Wilson High School, [2283, 2283, 2283, 2283, ...","(Wilson High School, [1319574, 1319574, 131957...",83.274201,83.989488
Wright High School,"(Wright High School, [Charter, Charter, Charte...","(Wright High School, [1800, 1800, 1800, 1800, ...","(Wright High School, [1049400, 1049400, 104940...",83.682222,83.955000